body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background:rgba(121, 123, 124, 0.267);
}

.meaning-class{
    list-style: none;
    background: rgba(19, 118, 168, 0.795);
    padding: 10px;
    color: white;
    border-radius: 2%;
    margin-top: 2rem;
}

/* body{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgba(121, 123, 124, 0.267);
}

.cart_container{
    display: flex;
    width: 100%;
    height: 100%;
    position:relative;
    top:150px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: absolute;
    top:0;
    width:100%;
}

form .form-group{
    width: 100%;
}
form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

ul.meaning-class{
    border-radius: 2rem;
    list-style: none;
    width: 60%;
    background:#1d11c2;
    color:white;
    padding: 2rem;
    margin-top: 1rem;
} */
