body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: lightblue url("../img/index\ -background.jpg") no-repeat fixed center;
    background-size: cover;

}

.meaning-class{
    list-style: none;
    background: rgba(19, 118, 168, 0.795);
    padding: 10px;
    color: white;
    border-radius: 2%;
    margin-top: 2rem;
}
